<a href="https://colab.research.google.com/github/arfaluvess/customer_las/blob/main/Umrah_order_payment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Objective**

*  Able to extract out due payment for nearest tour
* PIC can check based on their due stage [P1/P2..]
* Future note : Inform the customer regarding their payment

In [1]:
# To connect drive with colab
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# View dataframe perspective
a. Used for small dataset <br>
b. Enable understanding on structured data

In [2]:
# Get data to be still formated and readable
from google.colab import data_table
data_table.enable_dataframe_formatter()

# # Disable data frame formatter
# from google.colab import data_table
# data_table.disable_dataframe_formatter()

# **One way to access google sheet online**

In [3]:
# Get the data and display

# 1. Authorizing google colab
from google.colab import auth
auth.authenticate_user()

# 2. credentials for google sheets
import gspread
from google.auth import default
creds, _ = default()

# 3. authorizing the connection
gc = gspread.authorize(creds)

# 4. Importing Google Sheet using google sheet key
test_google = gc.open_by_key('1OGZ3SmfHziK5ZcfRR296Qv8_fh5s4YhHG-MoCNYAO1g')

# 5. Bring the tab you want to update 
test_googlept2 = test_google.worksheet('GIT29JAN2023UL')

# 6. Exporting data to get_all_values gives a list of rows.
rows = test_googlept2.get_all_values()
rows

# 7. Using pandas to convert to a DataFrame and render.
import pandas as pd
df = pd.DataFrame.from_records(rows)

# 8. creating columns name
df.columns = df.iloc[0]
df = df.iloc[1:]
df

Warning: Total number of columns (70) exceeds max_columns (20). Falling back to pandas display.

,Remarks,created_at,booking_no,package_id,guest,dp_state,given_name,last_name,tour_code,email,...,pf_state,AA Points,Commission (MYR),#REF!,Total Collected (MYR),% of Total Collected,Accessed MMBc?,Device?,Thank You Page,Notes for MMBc
1,connecting-no phone Ikhlas,10/7/2022 5:44:15,UL892260880,umrah-lite,1,paid,Muhammad Fazlie,Ahmad,GIT29JAN2023UL,fazlieahmad31@gmail.com,...,due,,,,#VALUE!,#DIV/0!,Not detected,Desktop,1 view,
2,Yes,10/26/2022 1:59:06,UL1969171887,umrah-lite,2,paid,NOORLIANNI,ROSLI,GIT29JAN2023UL,noorliannirosli@gmail.com,...,paid,,,,#VALUE!,#DIV/0!,Not detected,Mobile,1 view,
3,Will connect later,10/26/2022 3:05:14,UL1290595141,umrah-lite,6,paid,Ummi Kalthom,Zainudin,GIT29JAN2023UL,ummi.zainudin68@gmail.com,...,,,,,#VALUE!,#DIV/0!,Not detected,Desktop,1 view,
4,,11/8/2022 2:52:12,UL1052535640,umrah-lite,2,paid,Azizan Bin,Umar,GIT29JAN2023UL,azibuma@gmail.com,...,paid,,,,#VALUE!,#DIV/0!,Detected 4 times,Desktop & mobile,1 view,
5,Yes,11/8/2022 13:05:57,UL1402846742,umrah-lite,4,paid,Nur Afiqah,Noor Azham,GIT29JAN2023UL,nurafiqahazham@gmail.com,...,paid,,,,#VALUE!,#DIV/0!,Detected once,Mobile,1 view,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018,,,,,,,,,,,...,,,,,#VALUE!,#DIV/0!,,,,
1019,,,,,,,,,,,...,,,,,#VALUE!,#DIV/0!,,,,
1020,,,,,,,,,,,...,,,,,#VALUE!,#DIV/0!,,,,
1021,,,,,,,,,,,...,,,,,#VALUE!,#DIV/0!,,,,
1022,,,,,,,,,,,...,,,,,#VALUE!,#DIV/0!,,,,

# Second way to access directly using sheet

In [4]:
# Import libraries
from io import BytesIO
from google.auth import default as get_google_default
from google.colab import auth
from googleapiclient.discovery import build
from gspread import authorize as gspread_auth
from gspread_dataframe import get_as_dataframe
from pandas import DataFrame, Series, read_excel
from re import compile as re
from tqdm.auto import tqdm

auth.authenticate_user()
gcreds, _ = get_google_default()
gc = gspread_auth(gcreds)
drive = build('drive', 'v3', credentials=gcreds)
drive_home = '/content'
drive_files = drive.files()

# Get the sheet to read as a dataframe
def gspread_to_df(book_id:str, sheet_name:str) -> DataFrame:
    _gbook = gc.open_by_key(book_id)
    _gsheet = get_as_dataframe(_gbook.worksheet(sheet_name), evaluate_formulas=True)
    _gsheet.dropna(axis='index', how='all', inplace=True)
    _gsheet.dropna(axis='columns', how='all', inplace=True)
    return _gsheet

In [5]:
cus_df=gspread_to_df('1_b8pFtFni-piCuN8ml5ZiaqIuM-VjhDdACp31lxH3Co',
              'Copy of All Bookings')
cus_df

Warning: Total number of columns (62) exceeds max_columns (20). Falling back to pandas display.

,created_at,booking_no,package_id,guest,dp_state,given_name,last_name,tour_code,email,phone_number,...,p4_id,p4_state,pf_amount,pf_url,pf_due_at,pf_paid_at,pf_id,pf_state,Total Collected (MYR),% of Total Collected
0,22/06/2022 10:09:39,UP880325111,umrah-premium,5.0,due,Dimass,Julisa Taniawan,GIT31AUG2022UP,dimas@airasia.com,123123123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
1,22/06/2022 10:11:04,UE368090093,umrah-ekonomi,5.0,due,Dimas,Julisa Taniawan,GIT17AUG2022UE,dimas@airasia.com,123123121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
2,22/06/2022 10:13:39,UH129981856,umrah-hawa,5.0,due,Dimas,Julisa Taniawan,GIT15FEB2023UH,dimas@airasia.com,123123123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
3,22/06/2022 10:15:17,UE1088321055,umrah-exclusive,5.0,due,Dimas,Julisa Taniawan,GIT17DEC2022UK,dimas@airasia.com,123123123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
4,23/06/2022 01:42:00,UH771696099,umrah-hawa,6.0,due,ChaTesting,Aziz,GIT26OCT2022UH,nurulaishahabaziz@airasia.com,192152024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...

In [6]:
cus_df.columns

Index(['created_at', 'booking_no', 'package_id', 'guest', 'dp_state',
       'given_name', 'last_name', 'tour_code', 'email', 'phone_number',
       'airasia_member_id', 'room_types', 'senior', 'adult', 'child_with_bed',
       'child_no_bed', 'infant', 'single', 'twin', 'triple', 'quad',
       'departure', 'deposit_payment', 'balance_payment', 'total_amount',
       'dp_amount', 'dp_due_at', 'dp_url', 'dp_paid_at', 'dp_id', 'p1_amount',
       'p1_url', 'p1_due_at', 'p1_paid_at', 'p1_id', 'p1_state', 'p2_amount',
       'p2_url', 'p2_due_at', 'p2_paid_at', 'p2_id', 'p2_state', 'p3_amount',
       'p3_url', 'p3_due_at', 'p3_paid_at', 'p3_id', 'p3_state', 'p4_amount',
       'p4_url', 'p4_due_at', 'p4_paid_at', 'p4_id', 'p4_state', 'pf_amount',
       'pf_url', 'pf_due_at', 'pf_paid_at', 'pf_id', 'pf_state',
       'Total Collected (MYR)', '% of Total Collected'],
      dtype='object')

In [7]:
# Examine the data type
cus_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 0 to 1998
Data columns (total 62 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   created_at             644 non-null    object
 1   booking_no             644 non-null    object
 2   package_id             644 non-null    object
 3   guest                  644 non-null    float64
 4   dp_state               644 non-null    object
 5   given_name             644 non-null    object
 6   last_name              644 non-null    object
 7   tour_code              644 non-null    object
 8   email                  644 non-null    object
 9   phone_number           644 non-null    float64
 10  airasia_member_id      511 non-null    object
 11  room_types             644 non-null    object
 12  senior                 644 non-null    float64
 13  adult                  644 non-null    float64
 14  child_with_bed         644 non-null    float64
 15  child_no_bed           644 non-null    float64
 16  infant                 644 non-null    float64
 17  single                 400 non-null    float64
 18  twin                   644 non-null    float64
 19  triple                 644 non-null    float64
 20  quad                   644 non-null    float64
 21  departure              644 non-null    object
 22  deposit_payment        644 non-null    float64
 23  balance_payment        644 non-null    float64
 24  total_amount           644 non-null    float64
 25  dp_amount              644 non-null    float64
 26  dp_due_at              644 non-null    object
 27  dp_url                 644 non-null    object
 28  dp_paid_at             207 non-null    object
 29  dp_id                  644 non-null    object
 30  p1_amount              138 non-null    float64
 31  p1_url                 138 non-null    object
 32  p1_due_at              138 non-null    object
 33  p1_paid_at             114 non-null    object
 34  p1_id                  138 non-null    object
 35  p1_state               138 non-null    object
 36  p2_amount              121 non-null    float64
 37  p2_url                 33 non-null     object
 38  p2_due_at              121 non-null    object
 39  p2_paid_at             93 non-null     object
 40  p2_id                  121 non-null    object
 41  p2_state               121 non-null    object
 42  p3_amount              33 non-null     float64
 43  p3_url                 33 non-null     object
 44  p3_due_at              33 non-null     object
 45  p3_paid_at             28 non-null     object
 46  p3_id                  33 non-null     object
 47  p3_state               33 non-null     object
 48  p4_amount              9 non-null      float64
 49  p4_url                 9 non-null      object
 50  p4_due_at              9 non-null      object
 51  p4_paid_at             5 non-null      object
 52  p4_id                  9 non-null      object
 53  p4_state               9 non-null      object
 54  pf_amount              83 non-null     float64
 55  pf_url                 83 non-null     object
 56  pf_due_at              83 non-null     object
 57  pf_paid_at             66 non-null     object
 58  pf_id                  83 non-null     object
 59  pf_state               83 non-null     object
 60  Total Collected (MYR)  1999 non-null   object
 61  % of Total Collected   1999 non-null   object
dtypes: float64(20), object(42)
memory usage: 983.9+ KB

In [8]:
# Working on any tour_code = 29 JAN
cus_df_29 = cus_df[cus_df['tour_code'] == 'GIT29JAN2023UL']

In [9]:
# Total check of NaN val
print(f'Total of null variable in the data frame is : {cus_df_29.isna().sum().sum()}')

Total of null variable in the data frame is : 495

In [10]:
# Concatenate first name and last name column
cus_df_29 = cus_df_29.assign(full_name=cus_df_29['given_name'] + ' '+ cus_df_29['last_name'])

In [11]:
cus_df_29["phone_number"] = cus_df_29["phone_number"].astype(int)
cus_df_29

Warning: Total number of columns (63) exceeds max_columns (20). Falling back to pandas display.

,created_at,booking_no,package_id,guest,dp_state,given_name,last_name,tour_code,email,phone_number,...,p4_state,pf_amount,pf_url,pf_due_at,pf_paid_at,pf_id,pf_state,Total Collected (MYR),% of Total Collected,full_name
253,07/10/2022 05:44:15,UL892260880,umrah-lite,1.0,paid,Muhammad Fazlie,Ahmad,GIT29JAN2023UL,fazlieahmad31@gmail.com,105486864,...,NaN,6190.0,https://www.billplz.com/bills/8dww8dvi,2022-12-22,Thu Jan 5 09:36:20 2023,8dww8dvi,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Muhammad Fazlie Ahmad
291,26/10/2022 01:59:06,UL1969171887,umrah-lite,2.0,paid,NOORLIANNI,ROSLI,GIT29JAN2023UL,noorliannirosli@gmail.com,126751287,...,NaN,4952.0,https://www.billplz.com/bills/a4vnx1yy,2022-12-22,Wed Dec 21 02:39:48 2022,a4vnx1yy,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,NOORLIANNI ROSLI
293,26/10/2022 03:05:14,UL1290595141,umrah-lite,6.0,paid,Ummi Kalthom,Zainudin,GIT29JAN2023UL,ummi.zainudin68@gmail.com,123161895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Ummi Kalthom Zainudin
389,08/11/2022 02:52:12,UL1052535640,umrah-lite,2.0,paid,Azizan Bin,Umar,GIT29JAN2023UL,azibuma@gmail.com,1112514849,...,NaN,12380.0,https://www.billplz.com/bills/vzrlrq0u,2022-12-22,Wed Dec 21 06:40:33 2022,vzrlrq0u,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Azizan Bin Umar
391,08/11/2022 13:05:57,UL1402846742,umrah-lite,4.0,paid,Nur Afiqah,Noor Azham,GIT29JAN2023UL,nurafiqahazham@gmail.com,194451200,...,NaN,21960.0,https://www.billplz.com/bills/kmyz72sn,2022-12-22,Tue Dec 20 21:53:52 2022,kmyz72sn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Nur Afiqah Noor Azham
405,14/11/2022 02:15:33,UL1292278980,umrah-lite,1.0,paid,NORHASNI BINTI MAT ISA,MAT ISA,GIT29JAN2023UL,hasny36@gmail.com,133828298,...,NaN,5490.0,https://www.billplz.com/bills/g86w41s0,2022-12-22,Wed Dec 21 05:30:55 2022,g86w41s0,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,NORHASNI BINTI MAT ISA MAT ISA
454,28/11/2022 15:06:37,UL101623286,umrah-lite,3.0,paid,Mohammad Fariz bin Abdul Ghani,"Sarimah binti nanan, Mariam binti Ahmad",GIT29JAN2023UL,mhdfryz@gmail.com,178625958,...,NaN,17670.0,https://www.billplz.com/bills/c8suypzs,2022-12-22,Tue Jan 17 09:28:38 2023,c8suypzs,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohammad Fariz bin Abdul Ghani Sarimah binti n...
461,29/11/2022 13:25:18,UL1026384543,umrah-lite,2.0,paid,Noormas Aizat,Bin Noor Rizan,GIT29JAN2023UL,noormasaizat@gmail.com,122878727,...,NaN,10980.0,https://www.billplz.com/bills/9djrp9b2,2022-12-22,Wed Dec 21 15:22:37 2022,9djrp9b2,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Noormas Aizat Bin Noor Rizan
466,30/11/2022 08:19:12,UL442349066,umrah-lite,11.0,paid,Mohd Hafiz,Bin Mohamad,GIT29JAN2023UL,mohdfaridkudus@airasia.com,177672400,...,due,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Hafiz Bin Mohamad
473,01/12/2022 08:44:59,UL2061564499,umrah-lite,9.0,paid,Abdul Qaiyum,Bin Ghazali,GIT29JAN2023UL,fastmech.biz@gmail.com,178713242,...,NaN,24850.0,https://www.billplz.com/bills/jsvksfk0,2023-1-5,NaN,jsvksfk0,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Abdul Qaiyum Bin Ghazali
480,02/12/2022 07:21:53,UL1296204117,umrah-lite,8.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,126673031,...,NaN,15470.0,https://www.billplz.com/bills/asprdz8z,2022-12-22,NaN,asprdz8z,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin
482,03/12/2022 15:02:23,UL1801892754,umrah-lite,2.0,paid,Azreil,Amlir,GIT29JAN2023UL,azreil@email.com,186201228,...,NaN,5690.0,https://www.billplz.com/bills/eauqbf8c,2022-12-22,Sat Dec 31 00:52:19 2022,eauqbf8c,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Azreil Amlir
485,05/12/2022 06:59:11,UL771988298,umrah-lite,2.0,paid,Ahmed Munir Bin Mohamed,Sarina Binti Ahmad,GIT29JAN2023UL,ahmedmunir8764@gmail.com,175608248,...,NaN,12780.0,https://www.billplz.com/bills/umhe793m,2023-1-6,NaN,umhe793m,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Ahmed Munir Bin Mohamed Sarina Binti Ahmad
494,07/12/2022 10:02:45,UL891551857,umrah-lite,4.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,126673031,...,NaN,22260.0,https://www.billplz.com/bills/2hzija2m,2023-1-22,Sat Jan 21 02:46:07 2023,2hzija2m,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin
498,08/12/2022 04:51:30,UL51037765,umrah-lite,6.0,paid,Haming,Sumpa,GIT29JAN2023UL,rokia900@uitm.edu.my,196449674,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Haming Sumpa
499,08/12/2022 11:26:29,UL255998105,umrah-lite,2.0,paid,Idora,Idrus,GIT29JAN2023UL,esfera_idora@yahoo.com.my,123079171,...,NaN,12380.0,https://www.billplz.com/bills/7h1e7ubt,2022-12-22,Mon Dec 19 05:58:45 2022,7h1e7ubt,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Idora Idrus
507,09/12/2022 08:23:37,UL873907571,umrah-lite,2.0,paid,Shariza,Mohd Said,GIT29JAN2023UL,shariza@uitm.edu.my,132283648,...,NaN,10980.0,https://www.billplz.com/bills/2zmdxipg,2022-12-22,Wed Jan 4 03:02:26 2023,2zmdxipg,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Shariza Mohd Said
512,09/12/2022 17:22:58,UL125962722,umrah-lite,2.0,paid,NUR SYAFIKA,BINTI ABDUL MUTALIB,GIT29JAN2023UL,fika_am@yahoo.com,1162196246,...,NaN,10980.0,https://www.billplz.com/bills/pb4jzrqn,2022-12-22,Wed Dec 21 11:13:09 2022,pb4jzrqn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,NUR SYAFIKA BINTI ABDUL MUTALIB
528,13/12/2022 12:37:44,UL902607537,umrah-lite,1.0,paid,Puteri Nurnabila,Megat Haron,GIT29JAN2023UL,nabilaekhsan@gmail.com,174070664,...,NaN,6190.0,https://www.billplz.com/bills/xcttxhx4,2022-12-22,Tue Dec 20 12:59:45 2022,xcttxhx4,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Puteri Nurnabila Megat Haron
531,15/12/2022 08:56:46,UL292976690,umrah-lite,2.0,paid,Che Salwani,Che Hashim,GIT29JAN2023UL,chesalwani80@gmail.com,169397699,...,NaN,10980.0,https://www.billplz.com/bills/0nhwlu8r,2022-12-22,Sat Dec 24 02:43:30 2022,0nhwlu8r,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Che Salwani Che Hashim
548,21/12/2022 03:49:53,UL1110469688,umrah-lite,2.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,126673031,...,NaN,10980.0,https://www.billplz.com/bills/xzhru0da,2023-1-19,Wed Jan 18 08:42:45 2023,xzhru0da,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin
602,04/01/2023 08:07:37,UL961393565,umrah-lite,5.0,paid,Mohd Azli,Ayub,GIT29JAN2023UL,ismaida85@gmail.com,1110263221,...,NaN,26350.0,https://www.billplz.com/bills/d2sow0l3,2023-1-6,Thu Jan 5 04:51:57 2023,d2sow0l3,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Azli Ayub
603,05/01/2023 07:43:33,UL1615630938,umrah-lite,2.0,paid,Muhammad Nur Pascal,Bin Kamal Nyam,GIT29JAN2023UL,mohdfaridkudus@airasia.com,199147782,...,NaN,12980.0,https://www.billplz.com/bills/1beaq4dn,2023-1-7,Fri Jan 6 01:50:00 2023,1beaq4dn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Muhammad Nur Pascal Bin Kamal Nyam
604,05/01/2023 08:01:09,UL2106311444,umrah-lite,4.0,paid,Mohd Khairul Anuwar,Samsudin,GIT29JAN2023UL,mhstraveltours@gmail.com,196469000,...,NaN,25960.0,https://www.billplz.com/bills/ex9ajevg,2023-1-7,NaN,ex9ajevg,due,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Khairul Anuwar Samsudin

In [12]:
# Change data type of phone number to str
cus_df_29['phone_number'] = cus_df_29['phone_number'].astype(str)
cus_df_29.applymap(type)

Warning: Total number of columns (63) exceeds max_columns (20). Falling back to pandas display.

,created_at,booking_no,package_id,guest,dp_state,given_name,last_name,tour_code,email,phone_number,...,p4_state,pf_amount,pf_url,pf_due_at,pf_paid_at,pf_id,pf_state,Total Collected (MYR),% of Total Collected,full_name
253,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
291,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
293,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>
389,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
391,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
405,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
454,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
461,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
466,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>
473,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
480,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
482,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
485,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
494,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
498,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>
499,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
507,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
512,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
528,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
531,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
548,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
602,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
603,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
604,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,...,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>

In [13]:
!pip install phonenumbers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting phonenumbers
  Downloading phonenumbers-8.13.4-py2.py3-none-any.whl (2.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 27.5 MB/s eta 0:00:00
Installing collected packages: phonenumbers
Successfully installed phonenumbers-8.13.4

In [14]:
# Convert to a formatted MY phone number
import phonenumbers

def standardize_phone_number(phone_number):
  try:
    parsed_number = phonenumbers.parse(phone_number, "MY")
    if phonenumbers.is_possible_number(parsed_number) and phonenumbers.is_valid_number(parsed_number):
      return phonenumbers.format_number(parsed_number, phonenumbers.PhoneNumberFormat.E164)
    else:
      print(f"Invalid phone number: {phone_number}")
      return None 
  except phonenumbers.phonenumberutil.NumberParseException as e:
    print(f"Error while parsing phone number: {phone_number}")
    return None

cus_df_29['phone_number'] = cus_df_29['phone_number'].apply(standardize_phone_number)

In [15]:
# Convert name with normal case
cus_df_29['full_name'] = cus_df_29['full_name'].apply(lambda x: x.title())

# Concatenate full_name, email and no phone into new columns
cus_df_29['detail_customer'] = cus_df_29[['full_name','email','phone_number']].apply(lambda x: ' | '.join(x.astype(str)), axis=1)
cus_df_29

Warning: Total number of columns (64) exceeds max_columns (20). Falling back to pandas display.

,created_at,booking_no,package_id,guest,dp_state,given_name,last_name,tour_code,email,phone_number,...,pf_amount,pf_url,pf_due_at,pf_paid_at,pf_id,pf_state,Total Collected (MYR),% of Total Collected,full_name,detail_customer
253,07/10/2022 05:44:15,UL892260880,umrah-lite,1.0,paid,Muhammad Fazlie,Ahmad,GIT29JAN2023UL,fazlieahmad31@gmail.com,+60105486864,...,6190.0,https://www.billplz.com/bills/8dww8dvi,2022-12-22,Thu Jan 5 09:36:20 2023,8dww8dvi,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Muhammad Fazlie Ahmad,Muhammad Fazlie Ahmad | fazlieahmad31@gmail.co...
291,26/10/2022 01:59:06,UL1969171887,umrah-lite,2.0,paid,NOORLIANNI,ROSLI,GIT29JAN2023UL,noorliannirosli@gmail.com,+60126751287,...,4952.0,https://www.billplz.com/bills/a4vnx1yy,2022-12-22,Wed Dec 21 02:39:48 2022,a4vnx1yy,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Noorlianni Rosli,Noorlianni Rosli | noorliannirosli@gmail.com |...
293,26/10/2022 03:05:14,UL1290595141,umrah-lite,6.0,paid,Ummi Kalthom,Zainudin,GIT29JAN2023UL,ummi.zainudin68@gmail.com,+60123161895,...,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Ummi Kalthom Zainudin,Ummi Kalthom Zainudin | ummi.zainudin68@gmail....
389,08/11/2022 02:52:12,UL1052535640,umrah-lite,2.0,paid,Azizan Bin,Umar,GIT29JAN2023UL,azibuma@gmail.com,+601112514849,...,12380.0,https://www.billplz.com/bills/vzrlrq0u,2022-12-22,Wed Dec 21 06:40:33 2022,vzrlrq0u,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Azizan Bin Umar,Azizan Bin Umar | azibuma@gmail.com | +6011125...
391,08/11/2022 13:05:57,UL1402846742,umrah-lite,4.0,paid,Nur Afiqah,Noor Azham,GIT29JAN2023UL,nurafiqahazham@gmail.com,+60194451200,...,21960.0,https://www.billplz.com/bills/kmyz72sn,2022-12-22,Tue Dec 20 21:53:52 2022,kmyz72sn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Nur Afiqah Noor Azham,Nur Afiqah Noor Azham | nurafiqahazham@gmail.c...
405,14/11/2022 02:15:33,UL1292278980,umrah-lite,1.0,paid,NORHASNI BINTI MAT ISA,MAT ISA,GIT29JAN2023UL,hasny36@gmail.com,+60133828298,...,5490.0,https://www.billplz.com/bills/g86w41s0,2022-12-22,Wed Dec 21 05:30:55 2022,g86w41s0,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Norhasni Binti Mat Isa Mat Isa,Norhasni Binti Mat Isa Mat Isa | hasny36@gma...
454,28/11/2022 15:06:37,UL101623286,umrah-lite,3.0,paid,Mohammad Fariz bin Abdul Ghani,"Sarimah binti nanan, Mariam binti Ahmad",GIT29JAN2023UL,mhdfryz@gmail.com,+60178625958,...,17670.0,https://www.billplz.com/bills/c8suypzs,2022-12-22,Tue Jan 17 09:28:38 2023,c8suypzs,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohammad Fariz Bin Abdul Ghani Sarimah Binti N...,Mohammad Fariz Bin Abdul Ghani Sarimah Binti N...
461,29/11/2022 13:25:18,UL1026384543,umrah-lite,2.0,paid,Noormas Aizat,Bin Noor Rizan,GIT29JAN2023UL,noormasaizat@gmail.com,+60122878727,...,10980.0,https://www.billplz.com/bills/9djrp9b2,2022-12-22,Wed Dec 21 15:22:37 2022,9djrp9b2,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Noormas Aizat Bin Noor Rizan,Noormas Aizat Bin Noor Rizan | noormasaizat@gm...
466,30/11/2022 08:19:12,UL442349066,umrah-lite,11.0,paid,Mohd Hafiz,Bin Mohamad,GIT29JAN2023UL,mohdfaridkudus@airasia.com,+60177672400,...,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Hafiz Bin Mohamad,Mohd Hafiz Bin Mohamad | mohdfaridkudus@airas...
473,01/12/2022 08:44:59,UL2061564499,umrah-lite,9.0,paid,Abdul Qaiyum,Bin Ghazali,GIT29JAN2023UL,fastmech.biz@gmail.com,+60178713242,...,24850.0,https://www.billplz.com/bills/jsvksfk0,2023-1-5,NaN,jsvksfk0,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Abdul Qaiyum Bin Ghazali,Abdul Qaiyum Bin Ghazali | fastmech.biz@gmail....
480,02/12/2022 07:21:53,UL1296204117,umrah-lite,8.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,15470.0,https://www.billplz.com/bills/asprdz8z,2022-12-22,NaN,asprdz8z,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resourc...
482,03/12/2022 15:02:23,UL1801892754,umrah-lite,2.0,paid,Azreil,Amlir,GIT29JAN2023UL,azreil@email.com,+60186201228,...,5690.0,https://www.billplz.com/bills/eauqbf8c,2022-12-22,Sat Dec 31 00:52:19 2022,eauqbf8c,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Azreil Amlir,Azreil Amlir | azreil@email.com | +60186201228
485,05/12/2022 06:59:11,UL771988298,umrah-lite,2.0,paid,Ahmed Munir Bin Mohamed,Sarina Binti Ahmad,GIT29JAN2023UL,ahmedmunir8764@gmail.com,+60175608248,...,12780.0,https://www.billplz.com/bills/umhe793m,2023-1-6,NaN,umhe793m,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Ahmed Munir Bin Mohamed Sarina Binti Ahmad,Ahmed Munir Bin Mohamed Sarina Binti Ahmad | a...
494,07/12/2022 10:02:45,UL891551857,umrah-lite,4.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,22260.0,https://www.billplz.com/bills/2hzija2m,2023-1-22,Sat Jan 21 02:46:07 2023,2hzija2m,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resour...
498,08/12/2022 04:51:30,UL51037765,umrah-lite,6.0,paid,Haming,Sumpa,GIT29JAN2023UL,rokia900@uitm.edu.my,+60196449674,...,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Haming Sumpa,Haming Sumpa | rokia900@uitm.edu.my | +6019644...
499,08/12/2022 11:26:29,UL255998105,umrah-lite,2.0,paid,Idora,Idrus,GIT29JAN2023UL,esfera_idora@yahoo.com.my,+60123079171,...,12380.0,https://www.billplz.com/bills/7h1e7ubt,2022-12-22,Mon Dec 19 05:58:45 2022,7h1e7ubt,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Idora Idrus,Idora Idrus | esfera_idora@yahoo.com.my | +601...
507,09/12/2022 08:23:37,UL873907571,umrah-lite,2.0,paid,Shariza,Mohd Said,GIT29JAN2023UL,shariza@uitm.edu.my,+60132283648,...,10980.0,https://www.billplz.com/bills/2zmdxipg,2022-12-22,Wed Jan 4 03:02:26 2023,2zmdxipg,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Shariza Mohd Said,Shariza Mohd Said | shariza@uitm.edu.my | +601...
512,09/12/2022 17:22:58,UL125962722,umrah-lite,2.0,paid,NUR SYAFIKA,BINTI ABDUL MUTALIB,GIT29JAN2023UL,fika_am@yahoo.com,+601162196246,...,10980.0,https://www.billplz.com/bills/pb4jzrqn,2022-12-22,Wed Dec 21 11:13:09 2022,pb4jzrqn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Nur Syafika Binti Abdul Mutalib,Nur Syafika Binti Abdul Mutalib | fika_am@yaho...
528,13/12/2022 12:37:44,UL902607537,umrah-lite,1.0,paid,Puteri Nurnabila,Megat Haron,GIT29JAN2023UL,nabilaekhsan@gmail.com,+60174070664,...,6190.0,https://www.billplz.com/bills/xcttxhx4,2022-12-22,Tue Dec 20 12:59:45 2022,xcttxhx4,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Puteri Nurnabila Megat Haron,Puteri Nurnabila Megat Haron | nabilaekhsan@gm...
531,15/12/2022 08:56:46,UL292976690,umrah-lite,2.0,paid,Che Salwani,Che Hashim,GIT29JAN2023UL,chesalwani80@gmail.com,+60169397699,...,10980.0,https://www.billplz.com/bills/0nhwlu8r,2022-12-22,Sat Dec 24 02:43:30 2022,0nhwlu8r,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Che Salwani Che Hashim,Che Salwani Che Hashim | chesalwani80@gmail.co...
548,21/12/2022 03:49:53,UL1110469688,umrah-lite,2.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,10980.0,https://www.billplz.com/bills/xzhru0da,2023-1-19,Wed Jan 18 08:42:45 2023,xzhru0da,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resourc...
602,04/01/2023 08:07:37,UL961393565,umrah-lite,5.0,paid,Mohd Azli,Ayub,GIT29JAN2023UL,ismaida85@gmail.com,+601110263221,...,26350.0,https://www.billplz.com/bills/d2sow0l3,2023-1-6,Thu Jan 5 04:51:57 2023,d2sow0l3,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Azli Ayub,Mohd Azli Ayub | ismaida85@gmail.com | +601110...
603,05/01/2023 07:43:33,UL1615630938,umrah-lite,2.0,paid,Muhammad Nur Pascal,Bin Kamal Nyam,GIT29JAN2023UL,mohdfaridkudus@airasia.com,+60199147782,...,12980.0,https://www.billplz.com/bills/1beaq4dn,2023-1-7,Fri Jan 6 01:50:00 2023,1beaq4dn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Muhammad Nur Pascal Bin Kamal Nyam,Muhammad Nur Pascal Bin Kamal Nyam | mohdfari...
604,05/01/2023 08:01:09,UL2106311444,umrah-lite,4.0,paid,Mohd Khairul Anuwar,Samsudin,GIT29JAN2023UL,mhstraveltours@gmail.com,+60196469000,...,25960.0,https://www.billplz.com/bills/ex9ajevg,2023-1-7,NaN,ex9ajevg,due,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Khairul Anuwar Samsudin,Mohd Khairul Anuwar Samsudin | mhstraveltours@...

In [16]:
# Fetch the date the booking created aand change to date
cus_df_29['created_at'] = pd.to_datetime(cus_df_29['created_at']).dt.strftime('%Y-%m-%d')

In [17]:
# Drop rows with no values at all
cleaned_df = cus_df_29.dropna(how='all')
cleaned_df

Warning: Total number of columns (64) exceeds max_columns (20). Falling back to pandas display.

,created_at,booking_no,package_id,guest,dp_state,given_name,last_name,tour_code,email,phone_number,...,pf_amount,pf_url,pf_due_at,pf_paid_at,pf_id,pf_state,Total Collected (MYR),% of Total Collected,full_name,detail_customer
253,2022-07-10,UL892260880,umrah-lite,1.0,paid,Muhammad Fazlie,Ahmad,GIT29JAN2023UL,fazlieahmad31@gmail.com,+60105486864,...,6190.0,https://www.billplz.com/bills/8dww8dvi,2022-12-22,Thu Jan 5 09:36:20 2023,8dww8dvi,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Muhammad Fazlie Ahmad,Muhammad Fazlie Ahmad | fazlieahmad31@gmail.co...
291,2022-10-26,UL1969171887,umrah-lite,2.0,paid,NOORLIANNI,ROSLI,GIT29JAN2023UL,noorliannirosli@gmail.com,+60126751287,...,4952.0,https://www.billplz.com/bills/a4vnx1yy,2022-12-22,Wed Dec 21 02:39:48 2022,a4vnx1yy,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Noorlianni Rosli,Noorlianni Rosli | noorliannirosli@gmail.com |...
293,2022-10-26,UL1290595141,umrah-lite,6.0,paid,Ummi Kalthom,Zainudin,GIT29JAN2023UL,ummi.zainudin68@gmail.com,+60123161895,...,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Ummi Kalthom Zainudin,Ummi Kalthom Zainudin | ummi.zainudin68@gmail....
389,2022-08-11,UL1052535640,umrah-lite,2.0,paid,Azizan Bin,Umar,GIT29JAN2023UL,azibuma@gmail.com,+601112514849,...,12380.0,https://www.billplz.com/bills/vzrlrq0u,2022-12-22,Wed Dec 21 06:40:33 2022,vzrlrq0u,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Azizan Bin Umar,Azizan Bin Umar | azibuma@gmail.com | +6011125...
391,2022-08-11,UL1402846742,umrah-lite,4.0,paid,Nur Afiqah,Noor Azham,GIT29JAN2023UL,nurafiqahazham@gmail.com,+60194451200,...,21960.0,https://www.billplz.com/bills/kmyz72sn,2022-12-22,Tue Dec 20 21:53:52 2022,kmyz72sn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Nur Afiqah Noor Azham,Nur Afiqah Noor Azham | nurafiqahazham@gmail.c...
405,2022-11-14,UL1292278980,umrah-lite,1.0,paid,NORHASNI BINTI MAT ISA,MAT ISA,GIT29JAN2023UL,hasny36@gmail.com,+60133828298,...,5490.0,https://www.billplz.com/bills/g86w41s0,2022-12-22,Wed Dec 21 05:30:55 2022,g86w41s0,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Norhasni Binti Mat Isa Mat Isa,Norhasni Binti Mat Isa Mat Isa | hasny36@gma...
454,2022-11-28,UL101623286,umrah-lite,3.0,paid,Mohammad Fariz bin Abdul Ghani,"Sarimah binti nanan, Mariam binti Ahmad",GIT29JAN2023UL,mhdfryz@gmail.com,+60178625958,...,17670.0,https://www.billplz.com/bills/c8suypzs,2022-12-22,Tue Jan 17 09:28:38 2023,c8suypzs,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohammad Fariz Bin Abdul Ghani Sarimah Binti N...,Mohammad Fariz Bin Abdul Ghani Sarimah Binti N...
461,2022-11-29,UL1026384543,umrah-lite,2.0,paid,Noormas Aizat,Bin Noor Rizan,GIT29JAN2023UL,noormasaizat@gmail.com,+60122878727,...,10980.0,https://www.billplz.com/bills/9djrp9b2,2022-12-22,Wed Dec 21 15:22:37 2022,9djrp9b2,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Noormas Aizat Bin Noor Rizan,Noormas Aizat Bin Noor Rizan | noormasaizat@gm...
466,2022-11-30,UL442349066,umrah-lite,11.0,paid,Mohd Hafiz,Bin Mohamad,GIT29JAN2023UL,mohdfaridkudus@airasia.com,+60177672400,...,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Hafiz Bin Mohamad,Mohd Hafiz Bin Mohamad | mohdfaridkudus@airas...
473,2022-01-12,UL2061564499,umrah-lite,9.0,paid,Abdul Qaiyum,Bin Ghazali,GIT29JAN2023UL,fastmech.biz@gmail.com,+60178713242,...,24850.0,https://www.billplz.com/bills/jsvksfk0,2023-1-5,NaN,jsvksfk0,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Abdul Qaiyum Bin Ghazali,Abdul Qaiyum Bin Ghazali | fastmech.biz@gmail....
480,2022-02-12,UL1296204117,umrah-lite,8.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,15470.0,https://www.billplz.com/bills/asprdz8z,2022-12-22,NaN,asprdz8z,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resourc...
482,2022-03-12,UL1801892754,umrah-lite,2.0,paid,Azreil,Amlir,GIT29JAN2023UL,azreil@email.com,+60186201228,...,5690.0,https://www.billplz.com/bills/eauqbf8c,2022-12-22,Sat Dec 31 00:52:19 2022,eauqbf8c,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Azreil Amlir,Azreil Amlir | azreil@email.com | +60186201228
485,2022-05-12,UL771988298,umrah-lite,2.0,paid,Ahmed Munir Bin Mohamed,Sarina Binti Ahmad,GIT29JAN2023UL,ahmedmunir8764@gmail.com,+60175608248,...,12780.0,https://www.billplz.com/bills/umhe793m,2023-1-6,NaN,umhe793m,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Ahmed Munir Bin Mohamed Sarina Binti Ahmad,Ahmed Munir Bin Mohamed Sarina Binti Ahmad | a...
494,2022-07-12,UL891551857,umrah-lite,4.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,22260.0,https://www.billplz.com/bills/2hzija2m,2023-1-22,Sat Jan 21 02:46:07 2023,2hzija2m,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resour...
498,2022-08-12,UL51037765,umrah-lite,6.0,paid,Haming,Sumpa,GIT29JAN2023UL,rokia900@uitm.edu.my,+60196449674,...,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Haming Sumpa,Haming Sumpa | rokia900@uitm.edu.my | +6019644...
499,2022-08-12,UL255998105,umrah-lite,2.0,paid,Idora,Idrus,GIT29JAN2023UL,esfera_idora@yahoo.com.my,+60123079171,...,12380.0,https://www.billplz.com/bills/7h1e7ubt,2022-12-22,Mon Dec 19 05:58:45 2022,7h1e7ubt,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Idora Idrus,Idora Idrus | esfera_idora@yahoo.com.my | +601...
507,2022-09-12,UL873907571,umrah-lite,2.0,paid,Shariza,Mohd Said,GIT29JAN2023UL,shariza@uitm.edu.my,+60132283648,...,10980.0,https://www.billplz.com/bills/2zmdxipg,2022-12-22,Wed Jan 4 03:02:26 2023,2zmdxipg,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Shariza Mohd Said,Shariza Mohd Said | shariza@uitm.edu.my | +601...
512,2022-09-12,UL125962722,umrah-lite,2.0,paid,NUR SYAFIKA,BINTI ABDUL MUTALIB,GIT29JAN2023UL,fika_am@yahoo.com,+601162196246,...,10980.0,https://www.billplz.com/bills/pb4jzrqn,2022-12-22,Wed Dec 21 11:13:09 2022,pb4jzrqn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Nur Syafika Binti Abdul Mutalib,Nur Syafika Binti Abdul Mutalib | fika_am@yaho...
528,2022-12-13,UL902607537,umrah-lite,1.0,paid,Puteri Nurnabila,Megat Haron,GIT29JAN2023UL,nabilaekhsan@gmail.com,+60174070664,...,6190.0,https://www.billplz.com/bills/xcttxhx4,2022-12-22,Tue Dec 20 12:59:45 2022,xcttxhx4,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Puteri Nurnabila Megat Haron,Puteri Nurnabila Megat Haron | nabilaekhsan@gm...
531,2022-12-15,UL292976690,umrah-lite,2.0,paid,Che Salwani,Che Hashim,GIT29JAN2023UL,chesalwani80@gmail.com,+60169397699,...,10980.0,https://www.billplz.com/bills/0nhwlu8r,2022-12-22,Sat Dec 24 02:43:30 2022,0nhwlu8r,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Che Salwani Che Hashim,Che Salwani Che Hashim | chesalwani80@gmail.co...
548,2022-12-21,UL1110469688,umrah-lite,2.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,10980.0,https://www.billplz.com/bills/xzhru0da,2023-1-19,Wed Jan 18 08:42:45 2023,xzhru0da,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resourc...
602,2023-04-01,UL961393565,umrah-lite,5.0,paid,Mohd Azli,Ayub,GIT29JAN2023UL,ismaida85@gmail.com,+601110263221,...,26350.0,https://www.billplz.com/bills/d2sow0l3,2023-1-6,Thu Jan 5 04:51:57 2023,d2sow0l3,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Azli Ayub,Mohd Azli Ayub | ismaida85@gmail.com | +601110...
603,2023-05-01,UL1615630938,umrah-lite,2.0,paid,Muhammad Nur Pascal,Bin Kamal Nyam,GIT29JAN2023UL,mohdfaridkudus@airasia.com,+60199147782,...,12980.0,https://www.billplz.com/bills/1beaq4dn,2023-1-7,Fri Jan 6 01:50:00 2023,1beaq4dn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Muhammad Nur Pascal Bin Kamal Nyam,Muhammad Nur Pascal Bin Kamal Nyam | mohdfari...
604,2023-05-01,UL2106311444,umrah-lite,4.0,paid,Mohd Khairul Anuwar,Samsudin,GIT29JAN2023UL,mhstraveltours@gmail.com,+60196469000,...,25960.0,https://www.billplz.com/bills/ex9ajevg,2023-1-7,NaN,ex9ajevg,due,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Khairul Anuwar Samsudin,Mohd Khairul Anuwar Samsudin | mhstraveltours@...

In [18]:
# Add new column on MMBA link
base_url = 'https://ikhlas.com/umrah/admin/bookings'
end_url = '/edit/'

cus_df_29['MMBa Link'] = cus_df_29.apply(lambda row: f'{base_url}/{row["booking_no"]}{end_url}',axis=1)
cus_df_29

Warning: Total number of columns (65) exceeds max_columns (20). Falling back to pandas display.

,created_at,booking_no,package_id,guest,dp_state,given_name,last_name,tour_code,email,phone_number,...,pf_url,pf_due_at,pf_paid_at,pf_id,pf_state,Total Collected (MYR),% of Total Collected,full_name,detail_customer,MMBa Link
253,2022-07-10,UL892260880,umrah-lite,1.0,paid,Muhammad Fazlie,Ahmad,GIT29JAN2023UL,fazlieahmad31@gmail.com,+60105486864,...,https://www.billplz.com/bills/8dww8dvi,2022-12-22,Thu Jan 5 09:36:20 2023,8dww8dvi,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Muhammad Fazlie Ahmad,Muhammad Fazlie Ahmad | fazlieahmad31@gmail.co...,https://ikhlas.com/umrah/admin/bookings/UL8922...
291,2022-10-26,UL1969171887,umrah-lite,2.0,paid,NOORLIANNI,ROSLI,GIT29JAN2023UL,noorliannirosli@gmail.com,+60126751287,...,https://www.billplz.com/bills/a4vnx1yy,2022-12-22,Wed Dec 21 02:39:48 2022,a4vnx1yy,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Noorlianni Rosli,Noorlianni Rosli | noorliannirosli@gmail.com |...,https://ikhlas.com/umrah/admin/bookings/UL1969...
293,2022-10-26,UL1290595141,umrah-lite,6.0,paid,Ummi Kalthom,Zainudin,GIT29JAN2023UL,ummi.zainudin68@gmail.com,+60123161895,...,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Ummi Kalthom Zainudin,Ummi Kalthom Zainudin | ummi.zainudin68@gmail....,https://ikhlas.com/umrah/admin/bookings/UL1290...
389,2022-08-11,UL1052535640,umrah-lite,2.0,paid,Azizan Bin,Umar,GIT29JAN2023UL,azibuma@gmail.com,+601112514849,...,https://www.billplz.com/bills/vzrlrq0u,2022-12-22,Wed Dec 21 06:40:33 2022,vzrlrq0u,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Azizan Bin Umar,Azizan Bin Umar | azibuma@gmail.com | +6011125...,https://ikhlas.com/umrah/admin/bookings/UL1052...
391,2022-08-11,UL1402846742,umrah-lite,4.0,paid,Nur Afiqah,Noor Azham,GIT29JAN2023UL,nurafiqahazham@gmail.com,+60194451200,...,https://www.billplz.com/bills/kmyz72sn,2022-12-22,Tue Dec 20 21:53:52 2022,kmyz72sn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Nur Afiqah Noor Azham,Nur Afiqah Noor Azham | nurafiqahazham@gmail.c...,https://ikhlas.com/umrah/admin/bookings/UL1402...
405,2022-11-14,UL1292278980,umrah-lite,1.0,paid,NORHASNI BINTI MAT ISA,MAT ISA,GIT29JAN2023UL,hasny36@gmail.com,+60133828298,...,https://www.billplz.com/bills/g86w41s0,2022-12-22,Wed Dec 21 05:30:55 2022,g86w41s0,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Norhasni Binti Mat Isa Mat Isa,Norhasni Binti Mat Isa Mat Isa | hasny36@gma...,https://ikhlas.com/umrah/admin/bookings/UL1292...
454,2022-11-28,UL101623286,umrah-lite,3.0,paid,Mohammad Fariz bin Abdul Ghani,"Sarimah binti nanan, Mariam binti Ahmad",GIT29JAN2023UL,mhdfryz@gmail.com,+60178625958,...,https://www.billplz.com/bills/c8suypzs,2022-12-22,Tue Jan 17 09:28:38 2023,c8suypzs,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohammad Fariz Bin Abdul Ghani Sarimah Binti N...,Mohammad Fariz Bin Abdul Ghani Sarimah Binti N...,https://ikhlas.com/umrah/admin/bookings/UL1016...
461,2022-11-29,UL1026384543,umrah-lite,2.0,paid,Noormas Aizat,Bin Noor Rizan,GIT29JAN2023UL,noormasaizat@gmail.com,+60122878727,...,https://www.billplz.com/bills/9djrp9b2,2022-12-22,Wed Dec 21 15:22:37 2022,9djrp9b2,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Noormas Aizat Bin Noor Rizan,Noormas Aizat Bin Noor Rizan | noormasaizat@gm...,https://ikhlas.com/umrah/admin/bookings/UL1026...
466,2022-11-30,UL442349066,umrah-lite,11.0,paid,Mohd Hafiz,Bin Mohamad,GIT29JAN2023UL,mohdfaridkudus@airasia.com,+60177672400,...,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Hafiz Bin Mohamad,Mohd Hafiz Bin Mohamad | mohdfaridkudus@airas...,https://ikhlas.com/umrah/admin/bookings/UL4423...
473,2022-01-12,UL2061564499,umrah-lite,9.0,paid,Abdul Qaiyum,Bin Ghazali,GIT29JAN2023UL,fastmech.biz@gmail.com,+60178713242,...,https://www.billplz.com/bills/jsvksfk0,2023-1-5,NaN,jsvksfk0,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Abdul Qaiyum Bin Ghazali,Abdul Qaiyum Bin Ghazali | fastmech.biz@gmail....,https://ikhlas.com/umrah/admin/bookings/UL2061...
480,2022-02-12,UL1296204117,umrah-lite,8.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,https://www.billplz.com/bills/asprdz8z,2022-12-22,NaN,asprdz8z,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resourc...,https://ikhlas.com/umrah/admin/bookings/UL1296...
482,2022-03-12,UL1801892754,umrah-lite,2.0,paid,Azreil,Amlir,GIT29JAN2023UL,azreil@email.com,+60186201228,...,https://www.billplz.com/bills/eauqbf8c,2022-12-22,Sat Dec 31 00:52:19 2022,eauqbf8c,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Azreil Amlir,Azreil Amlir | azreil@email.com | +60186201228,https://ikhlas.com/umrah/admin/bookings/UL1801...
485,2022-05-12,UL771988298,umrah-lite,2.0,paid,Ahmed Munir Bin Mohamed,Sarina Binti Ahmad,GIT29JAN2023UL,ahmedmunir8764@gmail.com,+60175608248,...,https://www.billplz.com/bills/umhe793m,2023-1-6,NaN,umhe793m,deleted,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Ahmed Munir Bin Mohamed Sarina Binti Ahmad,Ahmed Munir Bin Mohamed Sarina Binti Ahmad | a...,https://ikhlas.com/umrah/admin/bookings/UL7719...
494,2022-07-12,UL891551857,umrah-lite,4.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,https://www.billplz.com/bills/2hzija2m,2023-1-22,Sat Jan 21 02:46:07 2023,2hzija2m,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resour...,https://ikhlas.com/umrah/admin/bookings/UL8915...
498,2022-08-12,UL51037765,umrah-lite,6.0,paid,Haming,Sumpa,GIT29JAN2023UL,rokia900@uitm.edu.my,+60196449674,...,NaN,NaN,NaN,NaN,NaN,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Haming Sumpa,Haming Sumpa | rokia900@uitm.edu.my | +6019644...,https://ikhlas.com/umrah/admin/bookings/UL5103...
499,2022-08-12,UL255998105,umrah-lite,2.0,paid,Idora,Idrus,GIT29JAN2023UL,esfera_idora@yahoo.com.my,+60123079171,...,https://www.billplz.com/bills/7h1e7ubt,2022-12-22,Mon Dec 19 05:58:45 2022,7h1e7ubt,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Idora Idrus,Idora Idrus | esfera_idora@yahoo.com.my | +601...,https://ikhlas.com/umrah/admin/bookings/UL2559...
507,2022-09-12,UL873907571,umrah-lite,2.0,paid,Shariza,Mohd Said,GIT29JAN2023UL,shariza@uitm.edu.my,+60132283648,...,https://www.billplz.com/bills/2zmdxipg,2022-12-22,Wed Jan 4 03:02:26 2023,2zmdxipg,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Shariza Mohd Said,Shariza Mohd Said | shariza@uitm.edu.my | +601...,https://ikhlas.com/umrah/admin/bookings/UL8739...
512,2022-09-12,UL125962722,umrah-lite,2.0,paid,NUR SYAFIKA,BINTI ABDUL MUTALIB,GIT29JAN2023UL,fika_am@yahoo.com,+601162196246,...,https://www.billplz.com/bills/pb4jzrqn,2022-12-22,Wed Dec 21 11:13:09 2022,pb4jzrqn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Nur Syafika Binti Abdul Mutalib,Nur Syafika Binti Abdul Mutalib | fika_am@yaho...,https://ikhlas.com/umrah/admin/bookings/UL1259...
528,2022-12-13,UL902607537,umrah-lite,1.0,paid,Puteri Nurnabila,Megat Haron,GIT29JAN2023UL,nabilaekhsan@gmail.com,+60174070664,...,https://www.billplz.com/bills/xcttxhx4,2022-12-22,Tue Dec 20 12:59:45 2022,xcttxhx4,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Puteri Nurnabila Megat Haron,Puteri Nurnabila Megat Haron | nabilaekhsan@gm...,https://ikhlas.com/umrah/admin/bookings/UL9026...
531,2022-12-15,UL292976690,umrah-lite,2.0,paid,Che Salwani,Che Hashim,GIT29JAN2023UL,chesalwani80@gmail.com,+60169397699,...,https://www.billplz.com/bills/0nhwlu8r,2022-12-22,Sat Dec 24 02:43:30 2022,0nhwlu8r,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Che Salwani Che Hashim,Che Salwani Che Hashim | chesalwani80@gmail.co...,https://ikhlas.com/umrah/admin/bookings/UL2929...
548,2022-12-21,UL1110469688,umrah-lite,2.0,paid,Siti Nur Hafizeanie,Salahuddin,GIT29JAN2023UL,nonie.resources@gmail.com,+60126673031,...,https://www.billplz.com/bills/xzhru0da,2023-1-19,Wed Jan 18 08:42:45 2023,xzhru0da,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Siti Nur Hafizeanie Salahuddin,Siti Nur Hafizeanie Salahuddin | nonie.resourc...,https://ikhlas.com/umrah/admin/bookings/UL1110...
602,2023-04-01,UL961393565,umrah-lite,5.0,paid,Mohd Azli,Ayub,GIT29JAN2023UL,ismaida85@gmail.com,+601110263221,...,https://www.billplz.com/bills/d2sow0l3,2023-1-6,Thu Jan 5 04:51:57 2023,d2sow0l3,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Azli Ayub,Mohd Azli Ayub | ismaida85@gmail.com | +601110...,https://ikhlas.com/umrah/admin/bookings/UL9613...
603,2023-05-01,UL1615630938,umrah-lite,2.0,paid,Muhammad Nur Pascal,Bin Kamal Nyam,GIT29JAN2023UL,mohdfaridkudus@airasia.com,+60199147782,...,https://www.billplz.com/bills/1beaq4dn,2023-1-7,Fri Jan 6 01:50:00 2023,1beaq4dn,paid,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Muhammad Nur Pascal Bin Kamal Nyam,Muhammad Nur Pascal Bin Kamal Nyam | mohdfari...,https://ikhlas.com/umrah/admin/bookings/UL1615...
604,2023-05-01,UL2106311444,umrah-lite,4.0,paid,Mohd Khairul Anuwar,Samsudin,GIT29JAN2023UL,mhstraveltours@gmail.com,+60196469000,...,https://www.billplz.com/bills/ex9ajevg,2023-1-7,NaN,ex9ajevg,due,#VALUE! (An array value could not be found.),#DIV/0! (Function DIVIDE parameter 2 cannot be...,Mohd Khairul Anuwar Samsudin,Mohd Khairul Anuwar Samsudin | mhstraveltours@...,https://ikhlas.com/umrah/admin/bookings/UL2106...

In [19]:
# Select columns which more reliable 
column_df = cus_df_29[['tour_code','booking_no','total_amount','balance_payment','MMBa Link','detail_customer','created_at','guest']]

In [20]:
# Standardize rate of the total and balance payment

In [21]:
# Rename column with standard name
column_df = column_df.rename(columns={'tour_code': 'Tour code', 'booking_no': 'Booking number', 'total_amount': 'Total amount', 'balance_payment': 'Balance payment', 'MMBa Link': 'MMB Link', 'detail_customer': 'Customer details', 'created_at': 'Created date', 'guest': 'Total pax'})

# Save to new sheet 

- Save new dataframe inside existing sheet 
- Formatting the data

In [29]:
import gspread
from gspread_dataframe import set_with_dataframe
from googleapiclient.discovery import build 


try: 
  # Authenticate google sheets API credential
  gc = gspread.authorize(creds)
  
  # Open google sheets by its title
  sh = gc.open('PRD Payment Report by Month [H]')

  # Add a new sheet to the existing Google Sheet
  worksheet = sh.add_worksheet(title="umrah_payment_due", 
                              rows=column_df.shape[0], 
                              cols=column_df.shape[1])

  # # Save the DataFrame to the new sheet
  set_with_dataframe(worksheet, column_df)
  print('Google sheet opened successfully')

except gspread.exceptions.APIError as e:
  if e.response.status_code == 400:
    if 'A sheet with the name' in e.response.text:
      worksheet = sh.worksheet('umrah_payment_due')
      worksheet.clear()
      print('Sheet already exist, clearing data')
      # Save the DataFrame to the new sheet
      set_with_dataframe(worksheet, column_df)
      print('Sheet updated with new data')

    else:
      print('An error occured: ', e)

Google sheet opened successfully

In [30]:
# Import the necessary libraries
import gspread
from oauth2client.service_account import ServiceAccountCredentials

# Authenticate with your Google Sheets API credentials
gc = gspread.authorize(creds)

# Open the Google Sheet by its title
sh = gc.open("PRD Payment Report by Month [H]")
worksheet = sh.worksheet("umrah_payment_due")

# Define the range of cells that make up the header
header_range = worksheet.range('A1:H1')

# Define the formatting to apply to the header cells
formatting = {
    "backgroundColor": {
        "red": 0.0,
        "green": 0.9,
        "blue": 1.0
    },
    "textFormat": {
        "bold": True,
        "fontSize": 10
    }
}


# Apply the formatting to the header cells
for cell in header_range:
  worksheet.format('A1:H1', formatting)

In [31]:
spreadsheetName = "PRD Payment Report by Month [H]"  # Please set Spreadsheet name.
sheetName = "umrah_payment_due"

sheetId = sh.worksheet(sheetName)._properties['sheetId']

body = {
    "requests": [
        {
            "autoResizeDimensions": {
                "dimensions": {
                    "sheetId": sheetId,
                    "dimension": "COLUMNS",
                    "startIndex": 5,  # Please set the column index.
                    "endIndex": 6  # Please set the column index.
                }
            }
        }
    ]
}
res = sh.batch_update(body)

In [ ]:
set width 
conditional formatting balanceb